---
dg-publish: true
---

- [[#1. Verification|1. Verification]]
		- [[#1. Inspection :|1. Inspection :]]
		- [[#2. Review|2. Review]]
		- [[#3. walkthrough|3. walkthrough]]
- [[#2. Validation|2. Validation]]

## 1. Verification

1. process of checking that software achieves its goal without any bugs
2. set of tasks that ensures that the software correctly implements a specific function
3. ensure whether the product that is developed is right or not
4. verifies whether the developed product *fulfills the requirements*
5. also called **Static Testing**  : checking whether we are developing the right product or not also whether our software is fulfilling the customer’s requirements or not

activities involved in verification
#### 1. Inspection : 
1. structured, formal, team of 3-6 people express their views, potential faults and critical areas.
2. final report is prepared after meeting after incorporating necessary suggestions
#### 2. Review
1. informal peer review
2. SRs, SDD and program verification
#### 3. walkthrough 
1. formal, systematic
2. Author of the software presents the document to others.



## 2. Validation

1. process of checking that requirements define the system that the customer really want
2. confirming that the documented requirements match their stakeholder's needs
3. Quality of SRS is validated if its a good SRS or Not
4. overlaps with elicitation and analysis, as it is concerned with finding problems with the requirements.
5. The cost of fixing a requirements problem by making a system change is usually much greater than repairing design or coding errors.

it involves
1. Validity checks
2. consistency checks
3. completeness checks
4. realism 
5. verifiability